html, body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #222;
}

.hero {
    background: #ddd url(../img/IMG-6471.JPG) center center no-repeat;
    background-size: cover;
    margin-top: 60px;
    height: 50vh;
}

.hero-title {
    text-align: center;
    padding-top: 15vh;
    font-size: 1.2rem;
}

.about {
    padding: 40px 0;
    text-align: center;
}

.about h2 {
    padding-bottom: 10px;
}

.info-box {
    padding: 20px 20px 0;
}

.info-box h3,
.info-box p {
    padding: 20px 15px;
}

.info-box h3 {
    margin-bottom: 0;
    padding-bottom: 0;
}