/*
    dark red: #c61a1a rgb(198, 26, 26)
    light red: #da1d1d rgb(218, 29, 29)
*/

* {
    box-sizing: border-box;
}

html, body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #222;
}

li {
    list-style: none;
}

.hero {
    background-color: #ccc;
}

.hero-img {
    background: #ccc url(../img/hero-3.JPG) 50% 0 repeat fixed;
    background-size: cover;
    margin-top: 60px;
    height: 100vh;
}

.hero-title {
    text-align: center;
    padding-top: 15vh;
    font-size: 1.2rem;
}

.about {
    background: url(../img/spiderman-3.jpg) 50% 0 repeat fixed;
    background-size: cover;
    padding: 40px 0;
    text-align: center;
}

.about h2 {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.9);
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.info-box {
    padding: 20px 20px 0;
}

.info-box h3,
.info-box p {
    padding: 20px 15px;
}

.info-box h3 {
    margin-bottom: 0;
    padding-bottom: 0;
}


.info-item {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.info-image {
    height: 300px;
    padding-top: 25px;
    transition: all .4s;
}

.img-description {
    position: absolute;
    background-color: rgba(218, 29, 29, .8);
    color: #fff;
    opacity: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    transform: translateY(100%);
    transition: all .8s;
    padding-bottom: 10px;
}

.img-title {
    font-size: 1.3rem;
    font-weight: 600;
}

.info-item-sm {    
    height: 350px;
    width: 300px;
    margin: 20px auto;
}

.info-item:hover .img-description {
    opacity: 1;
    transform: translateY(0);
} 

.thanks {
    background-color: #f3f2f0;
    padding: 30px;
}

.thanks h3 {
    text-align: center;
    margin-bottom: 50px;
}

.batarang {
    width: 20vw;
    animation: batarangThrow 2s infinite alternate forwards;
    padding-bottom: 50px;
}

/* BATARANG ANIMATION */
@keyframes batarangThrow {    
    100% {
        transform: translateX(340%) rotate(740deg);
    }    
}
